<%= form_for [@photo, @comment] do |f| %>
<div class="column_left">
	<div class="form">
		<div class="caption"><%= f.label :body, "Text" %><font class="point">*</font></div>
		<%= f.text_area :body, :class => "text_area" %>
		<div id="not_null"> 
			<span>Mit <font class="point">*</font> gekennzeichnete Felder sind Pflichtangaben</span>
		</div> 
	</div>
</div>
<% if !notice %>
<% if @comment.errors.any? %>
<div id="error"> 
	<span>
		<% @comment.errors.full_messages.each do |msg| %>
        	<%= msg %><br>
      	<% end %>
	</span>
</div> 
<% end %>
<% end %>
<% end %>
