body 
{
	font:100% Verdana;
	background-color:#006699;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}

div 
{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}

a
{
	text-decoration:none;
}

#top_container
{
	float:left;
	position:relative;
	width:950px;
	height:40px;
	padding:0px 0px 0px 0px;
}

#top_container_content
{
	position:absolute;
	right:0px;
	bottom:10px;
}

#middle_container 
{
	float:left;
	position:relative;
	width:980px;
	background-color:#FFFFFF;
}

#middle_container div
{
	float:left;
}

#bottom_container
{
	float:left;
	position:relative;
	width:950px;
	height:40px;
}

#bottom_container div
{
	position:absolute;
	right:0px;
	top:10px;
}
	
#corner_top_right
{
	position:absolute;
	right:0px;
	top:0px;
}

#corner_bottom_right
{
	position:absolute;
	right:0px;
	bottom:0px;
}

#page_content
{
	float:left;
	position:relative;
	left:30px;
	width:950px;
}

#page_title
{
	position:relative;
	width:950px;
	height:80px;
}

#page_title_content
{
	position:absolute;
	top:20px;
}

/* ACTIONS ------------------------------------------------------------------------------*/
#page_title_actions
{
	position:absolute;
	left:450px;
	width:480px;
	height:40px;
}

#page_title_actions_container
{
	position:absolute;
	right:0px;
}

div.actions_90
{
	float:left;
	position:relative;
	margin:0px 10px 0px 0px;
	width:90px;
	height:40px;
	line-height:40px;
	text-align:center;
	background:url(/images/btn_90.png) top left no-repeat;
}

div.actions_110
{
	float:left;
	position:relative;
	margin:0px 10px 0px 0px;
	width:110px;
	height:40px;
	line-height:40px;
	text-align:center;
	background:url(/images/btn_110.png) top left no-repeat;
}

div.actions_130
{
	float:left;
	position:relative;
	margin:0px 10px 0px 0px;
	width:130px;
	height:40px;
	line-height:40px;
	text-align:center;
	background:url(/images/btn_130.png) top left no-repeat;
}

div.actions_150
{
	float:left;
	position:relative;
	margin:0px 10px 0px 0px;
	width:150px;
	height:40px;
	line-height:40px;
	text-align:center;
	background:url(/images/btn_150.png) top left no-repeat;
}

div.actions_170
{
	float:left;
	position:relative;
	margin:0px 10px 0px 0px;
	width:170px;
	height:40px;
	line-height:40px;
	text-align:center;
	background:url(/images/btn_170.png) top left no-repeat;
}

div.actions_190
{
	float:left;
	position:relative;
	margin:0px 10px 0px 0px;
	width:190px;
	height:40px;
	line-height:40px;
	text-align:center;
	background:url(/images/btn_190.png) top left no-repeat;
}

div.actions_210
{
	float:left;
	position:relative;
	margin:0px 10px 0px 0px;
	width:210px;
	height:40px;
	line-height:40px;
	text-align:center;
	background:url(/images/btn_210.png) top left no-repeat;
}

div.actions_230
{
	float:left;
	position:relative;
	margin:0px 10px 0px 0px;
	width:230px;
	height:40px;
	line-height:40px;
	text-align:center;
	background:url(/images/btn_230.png) top left no-repeat;
}
/* ACTIONS ------------------------------------------------------------------------------*/

/* PAGINATE -----------------------------------------------------------------------------*/
div.pagination 
{
	position:absolute;
	width:100%;
	text-align:center;
	white-space:nowrap; 
	font-size:14px;
	color:#FFFFFF;
}

div.pagination a, div.pagination a:hover, div.pagination a:active 
{
	padding: 0px 2px 0px 2px;
	text-decoration:none;
	color:#FFFFFF;
}

div.pagination em 
{
	padding: 0px 2px 0px 2px;
	font-style:normal;
	color:#FF0000;
}

div.pagination span.disabled
{
	color:#666666;
}
/* PAGINATE -----------------------------------------------------------------------------*/

#page_text
{
	position:relative;
	width:950px;
	min-height:120px;
}

/* FORM with FIELDS ---------------------------------------------------------------------*/
.form
{
	position:relative;
	width:100%;
}

.form .point
{
	color:#FF0000;
}

.form .caption
{
	position:relative;
	width:380px;
	margin:0px 0px 10px 0px;
	font-size:14px;
	color:#000000;
}

.form .text_field
{
	position:relative;
	width:360px;
	height:30px;
	margin:0px 0px 20px 0px;
	padding: 0px 8px 0px 8px;
	font:100% Verdana;
	font-size:14px;
	color:#000000;
	line-height:26px;
	border:solid 2px;
	border-color:#999999;
}

.form .text_field_fake
{
	position:relative;
	width:360px;
	height:30px;
	margin:0px 0px 20px 0px;
	padding: 0px 8px 0px 8px;
	font:100% Verdana;
	font-size:14px;
	color:#000000;
	line-height:30px;
	border:solid 2px;
	border-color:#DDDDDD;
	background-color:#DDDDDD;
}

.form .file_field
{
	position:relative;
	width:360px;
	height:30px;
	margin:0px 0px 20px 0px;
	padding: 0px 8px 0px 8px;
	font:100% Verdana;
	font-size:14px;
	color:#000000;
	line-height:26px;
	border:solid 2px;
	border-color:#FFFFFF;
}

.form .file_field_fake
{
	position:relative;
	margin:0px 0px 20px 0px;
	padding: 8px 8px 4px 8px;
	
	border:solid 2px;
	border-color:#DDDDDD;
	background-color:#DDDDDD;
}

.form .text_area
{
	position:relative;
	width:360px;
	height:160px;
	margin:0px 0px 20px 0px;
	padding: 4px 8px 0px 8px;
	font:100% Verdana;
	font-size:14px;
	color:#000000;
	line-height:26px;
	border:solid 2px;
	border-color:#999999;
}

.form .text_area_fake
{
	position:relative;
	width:360px;
	height:160px;
	margin:0px 0px 20px 0px;
	padding: 4px 8px 0px 8px;
	font:100% Verdana;
	font-size:14px;
	color:#000000;
	line-height:30px;
	border:solid 2px;
	border-color:#DDDDDD;
	background-color:#DDDDDD;
}
/* FORM with FIELDS ---------------------------------------------------------------------*/

/* NOT NULL -----------------------------------------------------------------------------*/
#not_null
{
	position:relative;
	width:420px;
	height:40px;
	padding: 0px 0px 10px 0px;
}

#not_null .point
{
	color:#FF0000;
}

#not_null span
{
	position:absolute;
	top:10px;
	width:420px;
	font-size:14px;
	color:#000000;
	line-height:26px;
}
/* NOT NULL -----------------------------------------------------------------------------*/

/* ERROR --------------------------------------------------------------------------------*/
#error
{
	position:absolute;
	left:450px;
	bottom:0px;
	width:450px;
	padding:10px 0px 10px 20px;
	background-color:#0000ff;
	background:url(/images/bg_error.png) top left no-repeat;
}

#error span
{
	line-height:26px;
	font-size:14px;
	color:#FFFFFF;
}
/* ERROR --------------------------------------------------------------------------------*/

/* SUCCESS ------------------------------------------------------------------------------*/
#success
{
	position:relative;
	width:510px;
	margin:0px 0px 0px 480px;
	/*position:absolute;
	left:450px;
	bottom:0px;
	width:450px;*/
	padding:10px 0px 10px 20px;
	background:url(/images/bg_success.png) top left no-repeat;
}

#success span
{
	line-height:26px;
	font-size:14px;
	color:#FFFFFF;
}
/* SUCCESS ------------------------------------------------------------------------------*/

/* ALBUM with ROWS & CELLS --------------------------------------------------------------*/
div.cell_album
{
	position:relative;
	width:130px;
	height:200px;
	padding:15px 15px 15px 15px;
	margin:0px 25px 0px 0px;
	border:solid 2px;
	border-color:#999999;
}

div.cell_album_image
{
	position:relative;
	width:130px;
	height:130px;
	background-color:#CCCCCC;
}

div.cell_album_items
{
	position:absolute;
	top:-2px;
	right:-2px;
	width:50px;
	height:40px;
	background:url(/images/bg_user.png) top left no-repeat;
}

div.cell_album_items span
{
	position:absolute;
	width:100%;
	height:100%;
	line-height:40px;
	text-align:center;
	font-size:14px;
	color:#FFFFFF;
}

div.cell_album_title
{
	position:relative;
	width:100%;
	height:35px;
	margin-top:10px;
	overflow:hidden;
	font-size:14px;
	color:#000000;
}

div.cell_album_links
{
	position:absolute;
	width:100%;
	bottom:15px;
	font-size:14px;
	color:#666666;
}

div.cell_album_links a, div.cell_album_links a:hover, div.cell_album_links a:active 
{
	font-size:14px;
	color:#666666;
}
/* ALBUM with ROWS & CELLS --------------------------------------------------------------*/

/* PHOTO with ROWS & CELLS --------------------------------------------------------------*/
div.cell_photo
{
	position:relative;
	width:130px;
	height:200px;
	padding:15px 15px 15px 15px;
	margin:0px 25px 0px 0px;
	border:solid 2px;
	border-color:#999999;
}

div.cell_photo_image
{
	position:relative;
	width:130px;
	height:130px;
	background-color:#CCCCCC;
}

div.cell_photo_items
{
	position:absolute;
	top:-2px;
	right:-2px;
	width:50px;
	height:40px;
	background:url(/images/bg_user.png) top left no-repeat;
}

div.cell_photo_items span
{
	position:absolute;
	width:100%;
	height:100%;
	line-height:40px;
	text-align:center;
	font-size:14px;
	color:#FFFFFF;
}

div.cell_photo_title
{
	position:relative;
	width:100%;
	height:35px;
	margin-top:10px;
	overflow:hidden;
	font-size:14px;
	color:#000000;
}

div.cell_photo_links
{
	position:absolute;
	width:100%;
	bottom:15px;
	font-size:14px;
	color:#666666;
}

div.cell_photo_links a, div.cell_photo_links a:hover, div.cell_photo_links a:active 
{
	font-size:14px;
	color:#666666;
}
/* PHOTO with ROWS & CELLS --------------------------------------------------------------*/

/* PICTURE with ROWS & CELLS ------------------------------------------------------------*/
div.cell_picture
{
	position:relative;
	padding:5px 5px 5px 5px;
	margin-bottom:25px;
	font-size:14px;
	color:#000000;
}

div.cell_picture_image
{
	position:relative;
}

div.cell_picture_title
{
	position:relative;
	width:100%;
	height:20px;
	margin-top:10px;
	overflow:hidden;
	font-size:14px;
	color:#000000;
}

div.cell_picture_author
{
	position:relative;
	width:100%;
	height:20px;
	margin-top:10px;
	overflow:hidden;
	font-size:14px;
	color:#000000;
}

div.cell_picture_date
{
	position:relative;
	width:100%;
	height:20px;
	margin-top:10px;
	overflow:hidden;
	font-size:14px;
	color:#666666;
}
/* PICTURE with ROWS & CELLS ------------------------------------------------------------*/

/* COMMENT with ROWS & CELLS ------------------------------------------------------------*/
div.cell_comment
{
	position:relative;
	width:466px;
	margin:0px 25px 25px 0px;
	border:solid 2px;
	border-color:#999999;
}

div.cell_comment_user
{
	position:absolute;
	right:0px;
	width:160px;
	height:100%;
	overflow:hidden;
	background:url(/images/bg_user.png) top left no-repeat;
}

div.cell_comment_user span
{
	position:absolute;
	width:100%;
	height:100%;
	line-height:40px;
	text-align:center;
	font-size:14px;
	color:#FFFFFF;
}

div.cell_comment_date
{
	position:absolute;
	width:300px;
	height:100%;
	line-height:40px;
	padding:0px 0px 0px 15px;
	overflow:hidden;
	font-size:14px;
	color:#666666;
}

div.cell_comment_header
{
	position:relative;
	top:-2px;
	left:-2px;
	width:470px;
	height:40px;
	overflow:hidden;
}

div.cell_comment_body
{
	position:relative;
	top:-2px;
	width:440px;
	padding:8px 13px 21px 13px;
	overflow:hidden;
}

div.cell_comment_text
{
	position:relative;
	width:100%;
	overflow:hidden;
	font-size:14px;
	color:#000000;
}

div.cell_comment_links
{
	position:relative;
	top:10px;
	width:100%;
	font-size:14px;
	color:#666666;
}

div.cell_comment_links a, div.cell_comment_links a:hover, div.cell_comment_links a:active 
{
	font-size:14px;
	color:#666666;
}
/* COMMENT with ROWS & CELLS ------------------------------------------------------------*/

/* TABLE with ROWS & CELLS --------------------------------------------------------------*/
.row
{
	float:left;
	margin:0px 0px 30px 0px;
}

div.column_left
{
	position:relative;
	width:430px;
	padding:0px 0px 0px 0px;
	margin:0px 20px 0px 0px;
}

div.column_right
{
	position:relative;
	width:470px;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}
/* TABLE with ROWS & CELLS --------------------------------------------------------------*/

.text_light_blue
{
	font-size:14px;
	color:#04ADFF;
}

.text_white
{
	font-size:14px;
	color:#FFFFFF;
}

.title_black
{
	font-size:28px;
	font-weight:bold;
	color:#000000;
}

.link_white
{
	font-size:14px;
	color:#FFFFFF;
}