<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>We have a new member to join us<h1>
    <p>
      Please log in to activate him.
    </p>
    <p>
  </body>
</html>