<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= @person.username %>, you have been banned</h1>
    <p>
      The reason for this is because of:<%= @reason %>.<br/>
    </p>
    <p>
      The ban is for <%= @days %>days.
    </p>
  </body>
</html>