<div id="page_title">
	<div id="page_title_content">
		<span class="title_black">Album #<%= @album.id %> anzeigen</span>
	</div>
	<div id="page_title_actions">
		<div class="actions_cancel"> 
			<span><%= link_to 'Zurück', albums_path, :class => "link_white" %></span>
		</div> 
	</div> 
</div>
<div id="page_text">
	<%= render 'form_fake' %>
</div>


