<div id="page_title">
	<div id="page_title_content">
		<span class="title_black">Anmelden</span>
	</div>
	<div id="page_title_actions">
		<div class="actions_save"> 
			<span><%= link_to_function 'Anmelden', "login.submit()", :class => "link_white" %></span>
		</div> 
		<div class="actions_cancel"> 
			<span><%= link_to 'Registrieren', new_registration_path(resource_name), :class => "link_white" %></span>
		</div> 
		<div class="actions_password"> 
			<span><%= link_to 'Passwort vergessen', new_password_path(resource_name), :class => "link_white" %></span>
		</div> 
	</div> 
</div>
<div id="page_text">
	<%= render 'form' %>
</div>
